#loginPage {
    display: flex;
    flex-direction: column;
    background-image: url("/authpage_cover.jpeg");
    width: 100%;
    height: 100vh;
    opacity: 70%;
}

#loginPage .paper {
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#loginPage .MuiTypography-root {
    margin: 10px;
}

#loginPage .loginField {
    margin: 10px;
    align-self: center;
    width: 50%;
}

#loginPage #loginButton {
    margin: 10px;
    margin-top: 20px;
    align-self: center;
    width: 20%;
}